.slick-slide > div {
    margin: 0 5px;
    overflow: hidden;
    height: 400px;
    border-radius: 0.8em;
    // border: 2px solid red;
    position: relative;

    .text-container {
        position: absolute;
        bottom: 0;
        width: inherit;
        z-index: 5;
        padding: 1rem;
        background-color: #f46799;

        h5 {
            font-size: 1.2rem;
            font-weight: 700;
            color: #ffffff;
            text-decoration: none !important;
            
        }
    
        p {
            font-size: 1.0rem;
            font-weight: 500;
            color: #ffffff;
            text-decoration: none !important;
            
        }
    }
       
}

.slick-slide > div:hover {
    img {
        transition: transform .5s ease;
       }

    .text-container {
        z-index: 5;
        transition: transform .3s ease-in-out;

    }
}


.slick-list {
    margin: 0 -5px;
}

.slick-carousel {
    display: flex;
    flex-direction: column;

    img {
    height: 100% !important;
    width: 100%;
    position: absolute;
    transition: transform .3s ease-in-out;
    z-index: 2;
    border-top-left-radius: 0.8em;
    border-top-right-radius: 0.8em;
    }

    img:hover {
        // transform: scale(1.2);
        transition: transform .5s ease;
    }

    
}


.slick-container {
    background-color: #ffffff;

    h3 {
        font-size: 2.00rem;
        font-weight: 700;
        color: #67c7fc;
    }

}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
}

@media (min-width: 481px) and (max-width: 767px) {
    
    
}
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
@media (min-width: 320px) and (max-width: 480px) {


}

