.navigation-container {
    background-color: #685555 !important;
    opacity: 0.9;

    .navigation {
        // border: 1px solid red;
        display: flex !important;
        justify-content: space-between !important;
    }

    .brand {
        display: flex;
        align-items: center !important;
        font-size: 1.25rem;
        font-weight: 600;
        color: #222222 !important;

        img {
            margin-right: 0px;
        }

    }
}

.nav-links-container {
    // border: 1px dashed green;
    width: 80%;
    display: flex;
    justify-content: space-between;

    .links {
        font-size: 1.10rem;
        font-weight: 600;
        color: #f46799 !important;
        line-height: 30px;
        border: 2px solid #E478A8;
        align-self: center;
        border-radius: 0.8em;
    }

    .links:hover {
        border: 2px solid #67c7fc !important;
    }


    /* From uiverse.io by @adamgiebl */
    .cssbuttons-io {
        position: relative;
        font-family: inherit;
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 0.05em;
        border-radius: 0.8em;
        border: none;
        background: linear-gradient(to right, #f46799, #f13a7b);
        color: ghostwhite;
        overflow: hidden;
    }
   
   .cssbuttons-io span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    padding: 0.8em 1.2em 0.8em 1.05em;
   }
   
   .cssbuttons-io::before,
   .cssbuttons-io::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
   }
   
   .cssbuttons-io::before {
    content: "";
    background: #222222;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
   }
   
   .cssbuttons-io:hover::before {
    transform: translate3d(100%, 0, 0);
   }
   
   .cssbuttons-io:active {
    transform: scale(0.95);
   }
   

}

  
/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 1024px) and (max-width: 1440px) and (orientation: landscape) {
    .brand {
        display: flex;

        span {
            display: none !important;
        }

    }

    .nav-links-container {
        // border: 1px solid green;
        width: 90% !important;
        display: flex;
        justify-content: space-between;
    
    }

}

@media (min-width: 768px) and (max-width: 1024px) {
    .brand {
        display: flex;

        span {
            display: none !important;
        }

    }

    .nav-links-container {
        // border: 1px solid green;
        width: 90% !important;
        display: flex;
        justify-content: space-between;
    
        .links {
            font-size: 1.10rem;
            font-weight: 600;
            color: #f46799 !important;
            line-height: 30px;
            border: 2px solid #E478A8 !important;
            align-self: center;
            border-radius: 0.8em;
        }
    }

}


@media (min-width: 768px) and (max-width: 768px) {
    .brand {
        display: flex;

        span {
            display: none !important;
        }

    }

    .nav-links-container {
        // border: 1px solid green;
        width: 100% !important;
        display: flex;
        justify-content: space-between;
    
        .links {
            font-size: 1.10rem;
            font-weight: 600;
            color: #f46799 !important;
            line-height: 30px;
            border: 0px solid #E478A8 !important;
            align-self: center;
            border-radius: 0.8em;
        }

        .links:hover {
            border: 0px solid #67c7fc !important;
            color: #67c7fc !important;
        }
    }

}

@media (min-width: 481px) and (max-width: 767px) {
    .brand {
        display: flex;

        span {
            display: none !important;
        }

    }

    .nav-links-container {
        // border: 1px dashed green;
        width: 100%;
        display: flex;
        justify-content: space-between;

        .links {
            font-size: 1.10rem;
            font-weight: 600;
            color: #f46799 !important;
            line-height: 30px;
            border: 0px solid #E478A8 !important;
            align-self: center;
            border-radius: 0.8em;
        }

        .links:hover {
            border: 0px solid #67c7fc !important;
            color: #67c7fc !important;
        }
    }

}
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
@media (min-width: 320px) and (max-width: 480px) {
    .brand {
        display: flex;

        span {
            display: none !important;
        }

    }

    .nav-links-container {
        // border: 1px dashed green;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .links {
            font-size: 1.10rem;
            font-weight: 600;
            color: #f46799 !important;
            line-height: 30px;
            border: 0px solid #E478A8 !important;
            align-self: center;
            border-radius: 0.8em;
        }

        .links:hover {
            border: 0px solid #67c7fc !important;
            color: #67c7fc !important;
        }
    }

    // .navigation {
    //     background-color: #FBFCFB !important;
    //     opacity: 0.9;
    //     min-height: 300px;
    //     z-index: 99;
    //     // position: absolute;
    // }
}
