.footer-container {
    position: relative; 
    bottom: 0;
    background-color:#685555;

    .footer{
    
        .left-footer-inner {
            display: flex;
            flex-direction: row;
        }
    
    
        .inner-footer {
            text-align: left;
        }

        h6 {
            font-size: 1.20rem;
            text-transform: uppercase;
            font-weight: 600;
            color: #f8f7f7;
        }

        p {
            font-size: 1.0rem;
            font-weight: 400;
            color: #f8f7f7;
        }

        ul {
            list-style: none;
            padding-left: 0px;
            margin-left: 0px;
        }

        li {
            font-size: 1.0rem;
            font-weight: 500;
            color: #f8f7f7;
            line-height: 30px;
        }

        .centre-left-footer {
            a {
                text-decoration: none !important;
                color: #f8f7f7;
            }

            a:hover {
                text-decoration: underline !important;
            }
        }

        .right-footer {
            .icon {
                margin-right: 20px;
            }

            
        }

        .social-media-container {
            display: flex;
            flex-direction: row;
            align-items: center;

            a {
                border: 2px solid #fff;
                margin-right: 35px;
                width: 30px;
                height: 30px;
                background-color: transparent;
                display: flex;
                justify-content: center;
                border-radius: 100%;
            }

            .sm-icon {
            color: #f8f7f7;
            size: 25px;
            align-self: center;
            }

            a:hover {
                background-color: #fbfcfb;
                .sm-icon {
                    color: #514e4e;
                    color: #f46799;
                }
            }
        }
    }
    
}

